<div class="footer-numbers">
    <div class="row">
        <div class="section medium-4 small-12 columns">
            <h5>253</h5>
            <p>Schools Searched Nationwide</p>
        </div>
        <div class="section middle medium-4 small-12 columns">
            <h5>65,235</h5>
            <p>Program Options<br/>Nation Wide</p>
        </div>
        <div class="section medium-4 small-12 columns">
            <h5>100,000,000</h5>
            <p>Students Matched<br/>With a School</p>
        </div>
    </div>
</div>