<form class="cmxform {% if page.ilp %}ilp-shortform{% endif %}" id="{{ page.form_id }}" name="{{ page.form_id }}" method="get">
    <h4>{{ page.form_heading }}</h4>

    <div class="field form-element">
        <label for="search_query">What job are you looking for? <em class="form-req-mark">*</em></label>
        <input type="text" id="search_query" name="search_query" placeholder="Job Title" required="required" value="{{ page.keyword }}" />
    </div>
    <div class="field form-element">
        <label for="zip_code">In what area? <em class="form-req-mark">*</em></label>
        <input type="text" id="zip_code" name="zip_code" placeholder="Zip or State" required="required" />
    </div>
    <div>
        <button class="button-one" type="submit"><span class="button-helper"></span>Search Jobs »</button>
    </div>
</form>
<a class="register" href="http://firstmedicaljobs.com/register/">Register for an account with us</a>

<!-- geo prepop -->
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type='text/javascript' src='{{ site.baseurl }}js/geo_prepop_helper.js'></script>