<div class="lp-shortform">
    <form name="shortform" id="application-form" method="post" action="{{ site.baseurl }}{% if page.form_action %}{{ page.form_action }}{% else %}thanks.html?{% endif %}" enctype="multipart/form-data">
        <div class="step-one">
            <h2>{% if page.form_heading %}{{ page.form_heading }}{% else %}Discover Education Opportunities in Your Area!{% endif %}</h2>
            <div class="row">
                <div class="form-section large-12 columns">
                    <div class="field form-element large-12 columns">
                        <label id="zip_label" for="zip_code">Enter Your Zip Code to Begin</label>
                        <input id="zip_code" type="text" name="zip_code" class="validate_zip" maxlength="5" placeholder="00000" />
                        <div class="zip_validate">Please input a correct zip code.</div>
                    </div>
                    <button id="zip-submit" class="button-three ilp-button" href="#step-two" onClick="ga('send', 'event', 'FAClp-' + window.location.pathname.split( '/' )[2].replace('.html', ''), 'Click', 'Step1ZipSearch');">Next Step &raquo;</button>
                </div>
            </div>
        </div>
        <div class="step-two">
            <h2>Enter Your Contact Info</h2>
            <div class="row">
                <div class="form-section large-12 columns">
                    <div class="field form-element large-12 columns">
                        <label for="first_name">First Name *</label>
                        <input id="first_name" type="text" name="first_name" class="validate_text" placeholder="First Name" />
                    </div>
                    <div class="field form-element large-12 columns">
                        <label for="last_name">Last Name *</label>
                        <input id="last_name" type="text" name="last_name" class="validate_text" placeholder="Last Name" />
                    </div>
                    <div class="field form-element large-12 columns">
                        <label for="email_address">Email *</label>
                        <input id="email_address" type="text" name="email_address" class="validate_email" placeholder="example@example.com"/>
                    </div>
                    <div class="field form-element large-12 columns">
                        <label for="phone_home">Phone *</label>
                        <input id="phone_home" type="text" name="phone_home" class="validate_phone" maxlength="10" placeholder="5555555555" />
                    </div>
                </div>
            </div>
            <div class="submit">
                <input id="city" type="hidden" name="city" value="" />
                <input id="state" type="hidden" name="state" value="" />
                <input id="program" type="hidden" name="program" value="{{ page.program }}" />
                <input id="ckm_campaign_id" type="hidden" name="ckm_campaign_id" value="394" />
                <input id="ckm_key" type="hidden" name="ckm_key" value="8jkXoT7PbIA" />
                <input id="ckm_subid" type="hidden" name="ckm_subid" value="SF-EDU" />
                <input id="form_cap_type" type="hidden" name="form_cap_type" value="SF-EDU" />
                <input id="ckm_subid_2" type="hidden" name="ckm_subid_2" value="Danding" />
                <input id="adid" type="hidden" name="adid" value="" />
                <input id="ptid" type="hidden" name="ptid" value="" />
                <input id="source" type="hidden" name="source" value="" />
                <input id="source_lp_domain" type="hidden" name="source_lp_domain" value="" />
                <input id="ip_address" type="hidden" name="ip_address" value="" />
                <input id="program_cat_id" type="hidden" name="program_cat_id" value="{{ page.program_cat_id }}" />
                <input id="program_category_id" type="hidden" name="program_category_id" value="{{ page.program_cat_id }}" />
                <input id="atlas_query" type="hidden" name="atlas_query" value="{{ page.atlas_query }}" />
                <input id="school_id" type="hidden" name="school_id" value="" />
                {% if page.fraud_logix %}<input id="fraud_logix" type="hidden" name="fraud_logix" value="true" />{% endif %}
                <div id="form_errors"></div>
                <button id="application-submit" class="button-three" type="submit" onClick="ga('send', 'event', 'FAClp-' + window.location.pathname.split( '/' )[2].replace('.html', ''), 'Submit', 'Step1ShortformSubmit');">Submit</button>
                
                <span class="tcpa">{% if page.tcpa %} {{ page.tcpa }} {% else %} {% include tcpa_generic.html %} {% endif %}
                </span>
                
            </div>
        </div>
    </form>
</div>
<!-- Atlas and zipcode pre population -->
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="{{ site.baseurl }}core/js/ni_geo_noprepop.js"></script>
<script src="{{ site.baseurl }}core/js/geo_lookup_atlas.js"></script>