<header class="site-header results">
    <div class="header-nav-wrap">
        <div class="row header-nav">
            <div class="large-6 medium-5 small-9 columns left">
                <a class="site-logo" href="{{ site.baseurl }}"><img class="" src="{{ site.baseurl }}{{ site.logo_2 }}"/></a>
            </div>
            <div class="large-6 medium-7 small-3 columns right">
                {% include social.html %}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</header>
