<div class="ilp-shortform" id="ilp-form">
    <form name="shortform" id="application-form" method="get" action="{{ site.baseurl }}thanks.html">
        <div class="form-section">
            <div class="field form-element minimized">
                <label for="first_name">First Name <em class="form-req-mark">*</em></label>
                <input id="first_name" type="text" name="first_name" class="validate_text" placeholder="First Name" />
                <span class="field_error" style="display:none">Please Review this Field</span>
            </div>
            <div class="field form-element minimized">
                <label for="last_name">Last Name <em class="form-req-mark">*</em></label>
                <input id="last_name" type="text" name="last_name" class="validate_text" placeholder="Last Name" />
                <span class="field_error" style="display:none">Please Review this Field</span>
            </div>
            <div class="field form-element minimized">
                <label for="email_address">Email <em class="form-req-mark">*</em></label>
                <input id="email_address" type="text" name="email_address" class="validate_email" placeholder="example@example.com"/>
                <span class="field_error" style="display:none">Please Review this Field</span>
            </div>
            <div class="field form-element minimized">
                <label for="phone_home">Phone <em class="form-req-mark">*</em></label>
                <input id="phone_home" type="text" name="phone_home" class="validate_phone" maxlength="10" placeholder="5555555555" />
                <span class="field_error" style="display:none">Please Review this Field</span>
            </div>

        </div>
        <div class="submit">
            <div class="tcpa">{% if page.tcpa %} {{ page.tcpa }} {% else %} {% include tcpa_generic.html %} {% endif %}</div>
            <div id="form_errors"></div>
            <button id="application-submit" class="ilp-button multi_next green" type="submit" onClick="ga('send', 'event', 'ILP', 'Submit', 'ILPShortformSubmit');">{{ page.button_text }}</button>

            <span class="sub-required">(Fields marked with <em class="form-req-mark">*</em> are required)</span>

            <input id="zip_code" type="hidden" name="zip_code" value="" />
            <input id="city" type="hidden" name="city" value="" />
            <input id="state" type="hidden" name="state" value="" />
            <input id="area_of_interest" type="hidden" name="area_of_interest" value="{{ page.cip_code }}" />
            <input id="program" type="hidden" name="program" value="{{ page.program }}" />
            <input id="adid" type="hidden" name="adid" value="" />
            <input id="ckm_campaign_id" type="hidden" name="ckm_campaign_id" value="394" />
            <input id="ckm_subid" type="hidden" name="ckm_subid" value="SF-EDU" />
            <input id="form_cap_type" type="hidden" name="form_cap_type" value="SF-EDU" />
            <input id="ckm_subid_2" type="hidden" name="ckm_subid_2" value="ILP" />
            <input id="ckm_key" type="hidden" name="ckm_key" value="8jkXoT7PbIA" />
            <input id="source_lp_domain" type="hidden" name="source_lp_domain" value="findanycollege.com" />
        </div>
    </form>
</div>