<form class="cmxform {% if page.ilp %}ilp-shortform{% endif %}" name="{{ page.form_id }}" id="{{ page.form_id }}" method="get" autocomplete="off">
    {% if page.form_heading %}<h3>{{ page.form_heading }}</h3>{% endif %}
    <div class="form-logo"><img src="{{ site.baseurl }}core/images/{{ page.school_logo }}" alt="UMA" /></div>
    <div class="field form-element minimized">
        <label for="first_name">First Name <em class="form-req-mark">*</em></label>
        <div class="input-wrap">
            <input id="first_name" type="text" name="first_name" placeholder="First Name" required />
        </div>
    </div>
    <div class="field form-element minimized">
        <label for="last_name">Last Name <em class="form-req-mark">*</em></label>
        <div class="input-wrap">
            <input id="last_name" type="text" name="last_name" placeholder="Last Name" required />
        </div>
    </div>
    <div class="field form-element minimized">
        <label for="email_address">Email <em class="form-req-mark">*</em></label>
        <div class="input-wrap">
            <input id="email_address" type="text" name="email_address" placeholder="example@example.com" required />
        </div>
    </div>
    <div class="field form-element minimized">
        <label for="phone_home">Phone <em class="form-req-mark">*</em></label>
        <div class="input-wrap">
            <input id="phone_home" type="text" name="phone_home" placeholder="(555) 555-5555" required />
        </div>
    </div>
    <div class="field form-element minimized">
        <label for="zip_code">Zip <em class="form-req-mark">*</em></label>
        <div class="input-wrap">
            <input id="zip_code" type="text" name="zip_code" placeholder="00000" required />
        </div>
    </div>

    <div class="submit">
        <div class="tcpa">{% if page.tcpa %} {{ page.tcpa }} {% else %} {% include tcpa_generic.html %} {% endif %}</div>
        <!-- cake specific fields -->
        <input id="program" type="hidden" name="program" value="{{ page.program }}" />
        <input id="ckm_campaign_id" type="hidden" name="ckm_campaign_id" value="{{ page.ckm_campaign_id }}" />
        <input id="ckm_key" type="hidden" name="ckm_key" value="{{ page.ckm_key }}" />
        <input id="ckm_subid" type="hidden" name="ckm_subid" value="{{ page.ckm_subid }}" />
        <input id="form_cap_type" type="hidden" name="form_cap_type" value="{{ page.form_cap_type }}" />
        <input id="ckm_subid_2" type="hidden" name="ckm_subid_2" value="{{ page.ckm_subid_2 }}" />
        <input id="source" type="hidden" name="source" value="{{ page.source }}" />
        <input id="source_lp_domain" type="hidden" name="source_lp_domain" value="{{ page.source_lp_domain }}" />

        <input id="adid" type="hidden" name="adid" value="" />
        <input id="city" type="hidden" name="city" value="" />
        <input id="state" type="hidden" name="state" value="" />

        <!-- submit button -->
        <button class="{% if page.ilp %}ilp-button{% else %} multi_next green{% endif %}" id="multi_next_1" type="submit">Submit</button>
    </div>
</form>

<div id="url2png-cheese"></div>

<!-- form field masking & geo prepop -->
<script type="text/javascript">
    var expire = 10;

    $(document).ready(function() {
        $('#zip_code').mask('99999', {placeholder: 'e.g. 99999'});
        $('#phone_home').attr('placeholder', 'e.g. (999) 999-9999');

        //Zipcode field has changed. Do something about the change
        zipcode = $('#zip_code').val();
        if ( zipcode.length > 0 )
        {
            getPositionJsonZip(zipcode);
        }
        else
        {
            $('#zip_code').blur(function()
            {
                zipcode = $('#zip_code').val();
                if (zipcode.length > 0) {
                    getPositionJsonZip(zipcode);
                }
            });
        };
    });
</script>