/* -- Font Families -- */

// Definitions - Use the variable below as a template, it can be removed.
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Assisgnments
$typeface1: $helvetica;
$typeface2: $helvetica;



/* -- Color Definitions -- */

// Neutral
$white: #ffffff;
$gray: #808080;
$black: #000000;

// Blues
$blue: #2e82b3;

// Hues 3



/* -- Color Assignments -- */

// Typography
$h1a: $black;
$h1b: $black;
$h1c: $black;
$h1d: $black;
$h1e: $black;

$h2a: $black;
$h2b: $black;
$h2c: $black;
$h2d: $black;
$h2e: $black;

$h3a: $black;
$h3b: $black;
$h3c: $black;
$h3d: $black;
$h3e: $black;

$h4a: $black;
$h4b: $black;
$h4c: $black;
$h4d: $black;
$h4e: $black;

$h5a: $black;
$h5b: $black;
$h5c: $black;
$h5d: $black;
$h5e: $black;

$h6a: $black;
$h6b: $black;
$h6c: $black;
$h5d: $black;
$h5e: $black;

$p1: $black;
$p2: $white;
$p3: $black;
$p4: $black;
$p5: $black;
$p6: $black;
$p7: $black;
$p8: $black;

$link1: $black;
$link2: $black;
$link3: $black;
$link4: $black;
$link5: $black;
$link1-hover: $gray;
$link2-hover: $gray;
$link3-hover: $gray;
$link4-hover: $gray;
$link5-hover: $gray;

$link1-bg: $white;
$link2-bg: $white;
$link3-bg: $white;
$link4-bg: $white;
$link5-bg: $white;
$link1-bg-hover: $white;
$link2-bg-hover: $white;
$link3-bg-hover: $white;
$link4-bg-hover: $white;
$link5-bg-hover: $white;

$span1: $black;
$span2: $black;
$span3: $black;
$span4: $black;
$span5: $black;

$li1: $black;
$li2: $black;
$li3: $black;
$li4: $black;
$li5: $black;

// Structural Elements
$bg1: $white;
$bg2: $gray;
$bg3: $white;
$bg4: $white;
$bg5: $white;
$bg6: $white;

$border1: $black;
$border2: $gray;
$border3: $white;
$border4: $white;
$border5: $white;
$border6: $white;

// Form Elements
$label1: $black;
$label2: $black;
$label3: $black;
$label4: $black;
$label5: $black;
$label6: $black;

$field1: $white;
$field2: $white;
$field3: $white;
$field4: $white;
$field5: $white;
$field6: $white;
$field1-hover: $white;
$field2-hover: $white;
$field3-hover: $white;
$field4-hover: $white;
$field5-hover: $white;
$field6-hover: $white;

$field1-text: $black;
$field2-text: $black;
$field3-text: $black;
$field4-text: $black;
$field5-text: $black;
$field6-text: $black;
$field1-text-hover: $black;
$field2-text-hover: $black;
$field3-text-hover: $black;
$field4-text-hover: $black;
$field5-text-hover: $black;
$field6-text-hover: $black;
$field1-text-placeholder: $gray;
$field2-text-placeholder: $gray;
$field3-text-placeholder: $gray;
$field4-text-placeholder: $gray;
$field5-text-placeholder: $gray;
$field6-text-placeholder: $gray;

$field1-border: $white;
$field2-border: $white;
$field3-border: $white;
$field4-border: $white;
$field5-border: $white;
$field6-border: $white;
$field1-border-hover: $white;
$field2-border-hover: $white;
$field3-border-hover: $white;
$field4-border-hover: $white;
$field5-border-hover: $white;
$field6-border-hover: $white;

// Buttons
$btn1: $blue;
$btn2: $black;
$btn3: $black;
$btn4: $black;
$btn5: $black;
$btn6: $black;
$btn1-hover: $black;
$btn2-hover: $black;
$btn3-hover: $black;
$btn4-hover: $black;
$btn5-hover: $black;
$btn6-hover: $black;
$btn1-active: $black;
$btn2-active: $black;
$btn3-active: $black;
$btn4-active: $black;
$btn5-active: $black;
$btn6-active: $black;

$btn1-border: $black;
$btn2-border: $black;
$btn3-border: $black;
$btn4-border: $black;
$btn5-border: $black;
$btn6-border: $black;
$btn1-border-hover: $black;
$btn2-border-hover: $black;
$btn3-border-hover: $black;
$btn4-border-hover: $black;
$btn5-border-hover: $black;
$btn6-border-hover: $black;
$btn1-border-active: $black;
$btn2-border-active: $black;
$btn3-border-active: $black;
$btn4-border-active: $black;
$btn5-border-active: $black;
$btn6-border-active: $black;

$btn1-highlight: $blue;
$btn2-highlight: $black;
$btn3-highlight: $black;
$btn4-highlight: $black;
$btn5-highlight: $black;
$btn6-highlight: $black;
$btn1-highlight-hover: $black;
$btn2-highlight-hover: $black;
$btn3-highlight-hover: $black;
$btn4-highlight-hover: $black;
$btn5-highlight-hover: $black;
$btn6-highlight-hover: $black;

$btn1-text: $white;
$btn2-text: $white;
$btn3-text: $white;
$btn4-text: $white;
$btn5-text: $white;
$btn6-text: $white;
$btn1-text-hover: $white;
$btn2-text-hover: $white;
$btn3-text-hover: $white;
$btn4-text-hover: $white;
$btn5-text-hover: $white;
$btn6-text-hover: $white;

$btn1-text-shadow: $white;
$btn2-text-shadow: $white;
$btn3-text-shadow: $white;
$btn4-text-shadow: $white;
$btn5-text-shadow: $white;
$btn6-text-shadow: $white;
$btn1-text-shadow-hover: $white;
$btn2-text-shadow-hover: $white;
$btn3-text-shadow-hover: $white;
$btn4-text-shadow-hover: $white;
$btn5-text-shadow-hover: $white;
$btn6-text-shadow-hover: $white;

$nav1-text: $white;
$nav2-text: $white;
$nav3-text: $white;
$nav4-text: $white;
$nav1-text-hover: $white;
$nav2-text-hover: $white;
$nav3-text-hover: $white;
$nav4-text-hover: $white;

$nav1-text-shadow: $white;
$nav2-text-shadow: $white;
$nav3-text-shadow: $white;
$nav4-text-shadow: $white;
$nav1-text-shadow-hover: $white;
$nav2-text-shadow-hover: $white;
$nav3-text-shadow-hover: $white;
$nav4-text-shadow-hover: $white;

$nav1-bg: $black;
$nav2-bg: $black;
$nav3-bg: $black;
$nav4-bg: $black;
$nav1-bg-hover: $gray;
$nav2-bg-hover: $gray;
$nav3-bg-hover: $gray;
$nav4-bg-hover: $gray;

$nav1-highlight: $white;
$nav2-highlight: $white;
$nav3-highlight: $white;
$nav4-highlight: $white;
$nav1-highlight-hover: $white;
$nav2-highlight-hover: $white;
$nav3-highlight-hover: $white;
$nav4-highlight-hover: $white;

$nav1-border: $black;
$nav2-border: $black;
$nav3-border: $black;
$nav4-border: $black;
$nav1-border-hover: $black;
$nav2-border-hover: $black;
$nav3-border-hover: $black;
$nav4-border-hover: $black;
