#quinstreet_results {
    margin: 30px auto 0;
}

.qs-campus {
    border: 1px solid #CCCCCC;
    padding: 20px;
    margin: 10px auto;
    overflow: auto;
    width: 900px;
    position: relative;
    background: #ffffff;
    box-sizing: border-box;
}

.qs-campuslogo {
    float: left;
    display: inline;
    margin: 0 2% 0 0;
    width: 15%;
    a {
        display: block;
        margin: 0 0 15px 0;
        img {
            border: none;
            background: #fff;
        }
    }
}

.qs-campusinfo {
    font-weight: normal;
    font-size: 12px;
    width: 55%;
    margin: 0 1% 0 0;
    float: left;
}

.qs-campusname {
    margin: 5px 0;
    a {
        color: #08185c;
        font-weight: bold;
        font-size: 18px;
        &:hover {
            text-decoration: underline;
        }
        &:link, &:visited {
            text-decoration: none;
        }
    }
    img {
        vertical-align: middle;
    }
}

.qs-campusblurb {
    font-size: 1rem;
    width: 100%;
    margin: 1em 0;
    line-height: 1.4;
    p {
        margin: 0 0 1em;
        line-height: inherit;
        font-size: inherit;
    }
}

.qs-proglocwrap {
    float: right;
    width: 25%;
}

.qs-programs, .qs-dealers {
    clear: left;
    margin: 0 0 0 10px;
    padding: 0 0 20px;
    font-size: 12px;
    h3 {
        margin-top: 0;
    }
    ul {
        padding: 0;
        margin: 0;
    }
    li {
        list-style-position: inside;
        line-height: 15px;
        font-size: 12px;
        margin: 0;
    }
}

.qs-programs {
    strong {
        margin: 0 0 4px 0;
    }
    .hidden {
        display: none;
    }
    img {
        vertical-align: middle;
    }
    a {
        color: #08185c;
        font-size: 11px;
        text-decoration: none;
    }
}