// GLOBAL VARIABLES

// Font Family Definitions
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$timesNewRoman: "Times New Roman", "Times", serif;
$oswald: "Oswald", "Helvetica Neue", Helvetica, sans-serif;
$cooper: "CooperStdBlackRegular", "Arial Black", "Helvetica Neue", Helvetica, sans-serif;
$cooperItalic: "CooperStdBlackItalic", "Arial Black", "Helvetica Neue", Helvetica, sans-serif;
$raleway: "Raleway", Helvetica, sans-serif;
$droidSerif: "Droid Serif", serif;
$ptSerif: "PT Serif", "Times New Roman", "Times", serif;
$asap: "Asap", Helvetica, Arial, sans-serif;
$bitter: "Bitter", serif; 

// Font Family Assignments
$typeface1: $helvetica;
$typeface2: $helvetica;

// Base Site Colors
$black: #000000;
$gray: #808080;
$white: #ffffff;
$blue: #2e82b3;
$red: #f32020;

// FAC Specific Custom Colors
$tundora: #464646;
$scorpion: #5d5d5d;
$astral: #387c9a;
$astralLight: #2e82b3;
$curiousBlue: #3c9fd9;
$blumine: #1e5674;
$chathamsBlue: #144f68;
$riverBed: #4b565b;
$vividTangerine: #FF9284;
$carnation: #F77565;
$burntSienna: #ed6a5a;
$sunsetOrange: #FF4E35;
$flamingo: #ef503b;
$roofTerracotta: #a92e1e;

// Multistep Specific Colors
$froly: #f67676;
$persimmon: #ff5454;
$burntRedSienna: #ee4f4f;
$buccaneer: #6d2c2c;
$shamrock: #3cd29c;
$jungleGreenLight: #2BB070;
$jungleGreen: #28a669;
$peaGreen: #195739;
$botticelli: #c7d6e0;
$horizon: #5584a2;
$orient: #00577f;
$blueWhale: #052b3d;

// ILP Specific Colors
$rollingStone: #778287;
$limedSpruce: #3c4f58;
$calypso: #2f6f8d;
$flamingo: #ef503b;
$roofTerracotta: #a92e1e;
$sunsetOrange: #FF4E35;
$sandyBrown: #ef9a54;
$burntSiennaTwo: #e48b44;
$pottersClay: #976236;
$alabaster: #fbfbfb;
$altoLight: #d7d7d7;
$catskillWhite: #E1E6F0;
$gallery: #ececec;

// More Custom Colors
$black: #000000;
$oil: #2d2815;
$mineshaftDark: #303030;
$mineShaft: #333333;
$silverChalice: #a7a7a7;
$thatchGreen: #4d4320;
$abbey: #48494a;
$lightScorpion: #5f5f5f;
$doveGray: #727272;
$boulder: #797979;
$gray: #828282;
$mercury: #e3e3e3;
$wildSand: #f4f4f4;
$white: #ffffff;
$alabaster: #fbfbfb;
$alto: #cecece;
$gullGray: #a2b4bc;
$nobel: #b4b4b4;
$osloGray: #7c8c92;
$nepal: #8cb1c2;
$gulfStream: #7aa7ae;
$pattensBlue: #deedff;
$danube: #6193cd;
$neptune: #7ab2b9;
$wedgewood: #5089a3;
$sanMarino: #3a6ea9;
$brightTurquoise: #0fccdd;
$cerulean: #0fa8dd;
$curiousBlue: #258ecd;
$royalBlue: #2a7ae2;
$matisse: #1f6596;
$astral: #396daa;
$funBlue: #1f65b8;
$orient: #00678d;
$astronaut: #2a4f79;
$sanJuan: #315363;
$fjord: #3c5169;
$chathamsBlue: #163f6d;
$bridalHeath: #fffcf7;
$cream: #ffffd1;
$karry: #ffecd2;
$goldenGlow: #fee59a;
$marigoldYellow: #f7e575;
$portica: #f6e269;
$kournikova: #fddc77;
$goldenrod: #fdda6c;
$rajah: #f2ba69;
$sundance: #cfb359;
$tussock: #c79043;
$laser: #c9a56b;
$tacha: #d8bf66;
$texasRose: #ffc04f;
$mandy: #df4b4b;
$punch: #d92b2b;
$punchDark: #d92b2b;
$persianPlum: #751a1a;
$koromiko: #ffb462;
$yellowOrange: #fbae40;
$fuelYellow: #ee9d2a;
$treePoppy: #ff931e;
$renoSand: #b96a15;
$rope: #875917;
$torchRed: #f41414;