<div class="sidebar-wrap">
    <div class="featured-border">
        <h3>Search by Category</h3>
    </div>
    <div class="row odin-search">
        <div id="form-wrap">
            <ul class="bullet_list">
                <li><a href="{{ site.baseurl }}results/?search_query=Medical Receptionist&zipcode=84101">Medical Receptionist</a></li>
                <li><a href="{{ site.baseurl }}results/?search_query=Customer Service Representative&zipcode=84101">Customer Service Rep</a></li>
                <li><a href="{{ site.baseurl }}results/?search_query=Data Entry Specialist&zipcode=84101">Data Entry Specialist</a></li>
                <li><a href="{{ site.baseurl }}results/?search_query=Pharmacy Technician&zipcode=84101">Pharmacy Technician</a></li>
                <li><a href="{{ site.baseurl }}results/?search_query=Medical Billing And Coding&zipcode=84101">Medical Billing And Coding</a></li>
                <li><a href="{{ site.baseurl }}results/?search_query=HVAC Service Technician&zipcode=84101">HVAC Service Technician</a></li>
                <li><a href="{{ site.baseurl }}results/?search_query=Automotive Technician&zipcode=84101">Automotive Technician</a></li>
                <li><a href="{{ site.baseurl }}results/?search_query=Electrician&zipcode=84101">Electrician</a></li>
                <li><a href="{{ site.baseurl }}results/?search_query=Administrative Assistant&zipcode=84101">Administrative Assistant</a></li>
                <li><a href="{{ site.baseurl }}results/?search_query=Culinary Arts&zipcode=84101">Culinary Arts</a></li>
                <li><a href="{{ site.baseurl }}results/?search_query=Accounting Manager&zipcode=84101">Accounting Manager</a></li>
                <li><a href="{{ site.baseurl }}results/?search_query=Paralegal&zipcode=84101">Paralegal</a></li>
                <li><a href="{{ site.baseurl }}results/?search_query=Human Resources Generalist&zipcode=84101">Human Resources Generalist</a></li>
                <li><a href="{{ site.baseurl }}results/?search_query=Maintenance Manager&zipcode=84101">Maintenance Manager</a></li>
                <li><a href="{{ site.baseurl }}results/?search_query=Sales Associate&zipcode=84101">Sales Associate</a></li>
                <li><a href="{{ site.baseurl }}results/?search_query=Nursing&zipcode=84101">Nursing</a></li>
            </ul>
        </div>
    </div>
</div>